<div class='container'>
  <div class="col-sm-4">
    <div class="panel panel-primary" >
      <div class="panel-heading">Send message</div>
      <div class="panel-body">
        <%= form_tag("/websocket", method: "get", remote: true) do %>
          <div class="form-group">
            <%= label_tag(:q, "Send message:") %>
            <%= text_field_tag(:q,'', class: 'form-control', placeholder: 'some message') %>
          </div>
          <div class="form-group">
            <%= submit_tag("Send", id: 'btn_send_message',class: 'btn btn-primary') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
